{% block stepOverview %}
    <ul class="msf-steps">
        {# hidden button, so that pressing enter does not user one of the buttons in the steps overview #}
        <input type="submit" style="display:none;">

        {% for step in processor.getSteps %}
            <li class="step">
                {% if step.uri == processor.currentStepUri %}
                    <span class="current">{{ loop.index }} {{ step.name }}</span>
                {% elseif not processor.isStepReachable(step) %}
                    <span class="not-reachable">{{ loop.index }} {{ step.name }}</span>
                {% else %}
                    <button class="reachable" name="__target_step" value="{{ step.uri }}" title="">{{ loop.index }} {{ step.name }}</button>
                {% endif %}
            </li>
        {% endfor %}
        <div style="clear:both;"></div>
    </ul>
{% endblock %}
